
// margin


$breakpoints: (
    mobile: 599px,
    tablet: 950px
);



// default : light-mode
body {
    background: var(--bg);

    --bg: #ffffff;
    --color-text: #000000;
    --bg-h4: rgb(245, 245, 245);
    --bg-h4-hover: rgb(247, 247, 247);
    --byline-project: rgb(56, 56, 56);
    --bg-box: #000000;
}

body[class='dark-mode'] {
    background: var(--bg);

    --bg: #202020;
    --color-text: #ffffff;
    --bg-h4: rgb(46, 46, 46);
    --bg-h4-hover: rgb(54, 54, 54);
    --byline-project: rgb(209, 209, 209);
    --bg-box: rgb(207, 207, 207);
}

